// Specific CSS for your home-page
h1 {
  color: #355070;
  font-family: Work Sans;
}

h2 {
  font-size: 32px;
  color: #355070;
  font-family: Work Sans;
}

p {
  color: black;
  font-family: Nunito;
  font-size: 18px;
}

.home-page-banner {
  height:550px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex:1;
}

.card-content h3 {
  font-size:16px;
  font-weight: 600;
}

.card-content p {
  font-size:.9rem;
  margin: 0px 85px;
}

.card-image {
  width: 60px;
  height: auto;
}

.input-width {
  width: 600px;
}

.custom-btn-home-page {
  margin-left: -10px;
}

.testimony-avatar {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  object-item: cover;
}

.testimony-wrapper {
  margin-right: 50px;
  margin-left: 50px;
}

.testimony-author {
  font-weight: 600;
  padding-right: 35px;
  padding-top: 5px;
}

.testimony-container {
  margin-top: 100px;
}


@media (max-width: 576px){
  .h1-mobile {
    font-size: 24px!important;
  }

  .input-width {
    width: 200px;
  }

  .custom-btn-home-page {
    width: 150px;
    font-size: 14px;
    padding: 8px 20px;
    margin-right: 40px;
  }

  .cards-wrapper {
    flex-direction:column;
  }

  .card-content {
    margin-top: 40px;
  }

  .testimony-wrapper {
    flex-direction: column;
  }

  .testimony-card {
    display: flex;
    flex-direction: column;
  }

  .testimony-avatar {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    object-item: cover;
  }

}


