#signup {
  text-align: center;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-top: 15px;
}

.registration-wrapper {
  width: 800px;
}

.signin {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 95%;
  height: 600px;
}

.register-body {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding-bottom: 15px;
}

.member-button {
  color: white;
}

.member-button:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#floating-buttons {
  text-align: center;
}

#welcome-back {
  text-align: center;
}

.lower-buttons {
  color: white;
}

.lower-buttons:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
