#signup {
  text-align: center;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-top: 15px;
}

.register-body {
  background-image: url('register.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding-bottom: 15px;
}

.member-button {
  color: white;
}
.member-button:hover {
  color: white;
}
