<h1> dfgfg<%#= @chair.name.capitalize %> </h1>


<%#= simple_form_for ([@portfolio, @reservations]) do |f| %>
 <!--  <div class="form-row">
    <div class="col-12">
      <%#= f.input :date, as: :date %>
    </div>
    <div class="col-lg-12 mt-2">
      <#%= f.input :total_price, disabled: true %>
    </div>
    <div class="col-12 mt-2">
      <%#= f.submit "Book Now", class:"btn btn-primary w-100" %>
    </div>
  </div> -->
<%# end %>
