
<div class="banner home-page-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../assets/sky-house.jpg');">
  <div class="container">
    <h1>Listing a home or apartment? Let's find you the perfect photographer!</h1>
  </div>
</div>

<div class="container">
  <h2 class="text-center my-5">How it Works</h2>
  <div class="cards-wrapper d-flex justify-content-center ">
    <div class="card-content">
      <%# <img src="../assets/loupe.png" alt="" style="width: 60px; height: auto;"> %>
      <%= image_tag 'loupe', width: '60px', height: 'auto' %>
      <h2 class="mt-3">Easily Search</h2>
      <p class="px-2 text-center">Search for the best real estate
         photographers in your area</p>
    </div>

    <div class="card-content">
      <%# <img src="../assets/choose.png" alt="" style="width: 60px; height: auto;"> %>
      <%= image_tag 'choose', width: '60px', height: 'auto' %>
      <h2 class="mt-3">Compare</h2>
      <p class="px-2 text-center">Check and compare all the
         available photograpers  based
         on your wants and needs.</p>
    </div>

    <div class="card-content">
      <%# <img src="../assets/calendar.png" alt="" style="width: 60px; height: auto;"> %>
      <%= image_tag 'calendar', width: '60px', height: 'auto' %>
      <h2 class="mt-3">Book</h2>
      <p class="px-2 text-center">Book a photographer
         in 3 simple steps.</p>
    </div>
  </div>
</div>
