<% if @reservation.approved %>
  document.getElementById("approved-<%= @reservation.id %>").innerHTML = "<p>Approved ✓</p>"

<% elsif @reservation.declined %>
  document.getElementById("approved-<%= @reservation.id %>").innerHTML = "<p>Declined ✗</p>"
<% end%>
