// avatar for message box

.messages-box-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.messages-container {
  width: 40%;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: visible;
  border-bottom:1px solid #f1f1f1 ;
}

.messages-box-size {
  border-bottom:2px solid #f1f1f1;
}

.chat-size {
  width: 60%;
  height: 77vh;
  display: flex;
  flex-direction: column;
  border:1px solid #f1f1f1;
  border-top-right-radius: 10px;
}

.conversation-view-box {
  height: 500px;
}

#messages {
  height: 70%;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 30px;
}


.message-page-size {
  width: 100%;
  height: auto;
  padding:0px;
  border-radius: 10px;
  border:1px solid #f1f1f1;
  margin-bottom: 20px;
}

.message-container p {
  font-size: 16px;
}

.messages-size {
  font-size: 16px;
}

.send-message-style {
  font-size: 18px;
  font-weight: 700;
  color: #355070;
  background: #fff;
  border: 1px solid #355070;
  padding: 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.message-author-style {
  font-weight: 700;
  font-size: 16px;
  color: #355070;
}


