#index-cards {
  // height: 250px;
  width: 600px;
  margin: 5px 0 5px 0;
}

.index-link:hover {
  text-decoration: none;
}

.index-photo {
  height: 250px;
  width: 500px;
}

.index-avatar {
  border-radius: 50%;
  position: absolute;
  right: 18%;
  margin-top: 10px;
}

.preview-avatar {
  border-radius: 50%;
}

.card-body {
  display: flex;
  // flex-direction: column;
}
