#index-cards {
  margin: 5px 0 5px 0;
  width: 1000px;
}

.entire-card {
  display: flex;
  flex: 1;
}

.index-link:hover {
  text-decoration: none;
}
.index-link {
  padding: 0 !important;
}

.index-image {
  margin: 0;
}

.entire-card {
  border-radius: 10px;
  background-color: #f3f6f9;
}

.index-photo {
  height: 275px;
  width: 450px;
}

.index-avatar {
  position: absolute;
  right: 12%;
  margin-top: -25px;
}
.index-avatar-photo {
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}

.index-favorites {
  position:absolute;
  z-index: 100;
  right: 240px;
}
.index-heart {

  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}
.index-heart-position {

}

.preview-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  display: flex;
  // flex-direction: column;
}
