#index-cards {
  margin: 5px 0 5px 0;
  // width: 1125px;
}

.index-h1 {
  color: black;
  opacity: 0.7;
}

.entire-card {
  display: flex;
  flex: 1;
}

.index-link:hover {
  text-decoration: none;
}
.index-link {
  padding: 0 !important;
}

.index-image {
  margin: 0;
}

.entire-card {
  border-radius: 10px;
  background-color: #f3f6f9;
}

.index-photo {
  height: 285px;
  width: 450px;
}

.index-avatar {
  position: absolute;
  right: 12%;
  margin-top: -25px;
}
.index-avatar-photo {
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}

.index-favorites {
  position:absolute;
  z-index: 100;
  right: 240px;
  font-size: 25px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

.index-heart-position {

}

#index-description {
  width: 600px;
}

.preview-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.card-body {
  display: flex;

  // flex-direction: column;
}
