.show-header-width {
  display: flex;
  jusitfy-content: center;
  max-width: 1440px;
}

.show-image1 {
  width: 800px;
  // height: 500px;
}

.show-image2, .show-image3 {
  width: 300px;
  height: 300px;
}

.show-image4 {
  width: 616px;
}

.show-image5, .show-image6 {
  width: 392px;
  height:178px;
}

@media (min-width: 1440px){
  .show-header-width {
    display: flex;
    jusitfy-content: center;
    max-width: 100%;
  }
}
