.request-card{
  background: rgba(174, 207, 223, 0.2);
  height:100px;
  width: 100%;
  margin-left: 10px;
}

.reject-button{
  color: #D62839;
  font-size: 25px;
}

.approve-button{
  color: $success;
  font-size: 25px;
  margin-right: 10px;
}
