#index-cards {
  border-radius: 3px;
}

.card {
  margin-top: 10px;
}

.index-cards {
  text-decoration: none;
}
.index-cards:hover {
  text-decoration: none;
}

#index-photographer {
  color: #355070;
  font-family: Work Sans;
}

#index-description {
  color: black;
  font-family: Nunito;
}

#index-price {
  color: #69B578
}

#index-user {
  font-size: 10px;
  color: gray;
}
