#index-cards {
  border-radius: 3px;
}

.card {
  margin-bottom: 10px;
}

.card-product-infos {
  box-shadow: 2px 2px 2px gray;
}
.card-product-infos:hover {
  box-shadow: 4px 4px 4px gray;
}

.index-cards {
  text-decoration: none;
}
.index-cards:hover {
  text-decoration: none;
}

#index-photographer {
  color: #355070;
  font-family: Work Sans;
}

#index-description {
  color: black;
  font-family: Nunito;
  font-size: 16px;
}

#index-price {
  color: #69B578
}

#index-user {
  font-size: 16px;
  color: gray;
}

#index-about{
  font-size: 16px;
  color: black;
  font-family: Nunito;
}

#portfolio-preview {
  text-align: center;
  color: #355070;
  font-family: Work Sans;
}

.tabcontent {
  display: none;
    &:first-child { display: block; }
}

